@model Rekrutacjaa.Models.Book

@{
    ViewData["Title"] = "Return";
}

<h1>Return</h1>

<h4>Please, confirm that the user has returned the book</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Return">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EditableListOfBooks">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
